@font-face {
    font-family: "Bazinga";
    src: url(../assets/fonte/Bazinga-Regular.otf);
}

@font-face {
    font-family: "Bazinga Italic";
    src: url(../assets/fonte/Bazinga-RegularItalic.otf);
}

@font-face {
    font-family: "Open sans";
    src: url(../assets/fonte/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
    background-color: #1a1a2e;
    color: #ffffff;
    font-family: "Bazinga";
    text-align: justify;
    margin: 0;
}

.sidebar {
    width: 250px;
    height: 680px;
    background-color: #ffd600;
    color: #1a1a2e;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.486) 0px 7px 29px 0px;

    a {
        color: #1a1a2e;
        text-decoration: none;
    }
}

.link {
    a {
        color: #1a1a2e;
    }
}

.linha {
    border-style: solid;
    border-width: 0.5px 0px 0px 0px;
    border-color: #1a1a2e;
    margin-top: 20px;
}

.logoSide {
    margin-bottom: 30px;
}

.logoSide img {
    width: 70px;
    margin-bottom: 5px;
}

.logoSide h2 {
    font-size: 18px;
}

.logoSide p {
    font-size: 12px;
    opacity: 0.8;
    padding-top: 10px;
    font-weight: 700;
}

.menu {
    list-style: none;
}

.menu li {
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.menu li:hover {
    background: rgba(255, 255, 255, 0.2);
}

.menu .ativo {
    background: #1a1a2e;
    color: #ffd600;
}

.hello {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hello img {
    width: 65px;
    border: solid 5px #1a1a2e;
    border-radius: 50px;
}

.hello span {
    margin-left: 3px;
    font-weight: 500;
    font-size: 20px;
}

#sair {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#sair button {
    background-color: #ffd600;
    border: none;
    cursor: pointer;
}

#sair .link {
    background-color: #ffd600;
    border: none;
    cursor: pointer;
}

#sair .material-icons {
    font-size: 30px;
}

.dash {
    width: 1220px;
    height: 700px;
    border: solid 2px #ffd600;
    border-radius: 20px;
    margin-left: 300px;
    margin-top: 12px;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url('../assets/img/fundo-big.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dash::-webkit-scrollbar {
    width: 4px;
}

.dash::-webkit-scrollbar-track {
    background-color: #ffd600;
    border-radius: 2px;
}

.dash::-webkit-scrollbar-thumb {
    background-color: #1a1a2e;
    border-radius: 2px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#btniniciar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
}

#btniniciar button {
    padding: 30px;
    border-radius: 10px;
    background-color: #ffd600;
}

#escolher button img {
    width: 100px;
}

.escolha {
    border: solid 5px green;
}

#div_cartas {
    flex-direction: row;
    justify-content: center;
}

#carta1 {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../assets/img/fundo1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    margin-top: 30px;
}

#div_cartas #carta1 img {
    width: 280px;
    border-radius: 20px;
}

#div_cartas #carta2 img {
    width: 80px;
    border-radius: 20px;
}

#carta1_maquina {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../assets/img/fundo2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    margin-top: 30px;
}

#div_cartas #carta1_maquina img {
    width: 280px;
    border-radius: 20px;
}

#div_cartas #carta2_maquina img {
    width: 80px;
    border-radius: 20px;
}

#jogo {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#carta_vida {
    display: flex;
}

#carta_maquina_vida {
    display: flex;
}

#moeda {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

#moeda img {
    width: 300px;
}

#div_vs {
    position: absolute;
    margin-top: 270px;
    margin-left: 800px;
}

#div_vs img {
    width: 120px;
}

#vida_usuario {
    position: absolute;
    margin-top: 25px;
    margin-left: 100px;
}

#vida_usuario progress {
    margin-bottom: -20px;
    width: 600px;
    appearance: none;
    -webkit-appearance: none;
}

#vida_usuario progress::-webkit-progress-value {
    background: linear-gradient(97deg, #00ff55 0%, #ffaa00 63%, #ff0000 100%);
    border-radius: 5px;
}

#vida_usuario progress::-webkit-progress-bar {
    background-color: #f0f0f0;
    border-radius: 5px;
}

#vida_maquina {
    position: absolute;
    margin-top: 25px;
    margin-left: 1010px;
}

#vida_maquina progress {
    margin-bottom: -20px;
    width: 600px;
    direction: rtl;
    appearance: none;
    -webkit-appearance: none;
}

#vida_maquina progress::-webkit-progress-value {
    background: linear-gradient(97deg, #ff0000 0%, #ffaa00 37%, #00ff55 100%);
    border-radius: 5px;
}

#vida_maquina progress::-webkit-progress-bar {
    background-color: #f0f0f0;
    border-radius: 5px;
}

#vida_usuario_nome {
    position: fixed;
    margin-left: 101px;
    margin-top: 50px;
}

#vida_maquina_nome {
    position: fixed;
    margin-left: 1566px;
    margin-top: 50px;
}

#pontuacaoEJogoSerie {
    width: 1220px;
    height: 700px;
    border: solid 2px #ffd600;
    border-radius: 20px;
    margin-left: 300px;
    margin-top: 12px;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url('../assets/img/fundo-big.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pontuacaoEJogoSerie::-webkit-scrollbar {
    width: 4px;
}

#pontuacaoEJogoSerie::-webkit-scrollbar-track {
    background-color: #ffd600;
    border-radius: 2px;
}

#pontuacaoEJogoSerie::-webkit-scrollbar-thumb {
    background-color: #1a1a2e;
    border-radius: 2px;
}

#graficos {
    width: 900px;

}

#textoFacil {
    color: #4cc659;
    font-size: 25px;
}

#textoFacil span {
    color: #ffffff;
    font-size: 25px;
}

#textoMedio {
    color: #ffd600;
    font-size: 25px;
}

#textoMedio span {
    color: #ffffff;
    font-size: 25px;
}

#textoDificil {
    color: #d5312c;
    font-size: 25px;
}

#textoDificil span {
    color: #ffffff;
    font-size: 25px;
}

#kpis {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 20px;
}

#kpiTotal {
    background-color: #894cc6ba;
    border-radius: 20px;
    border: solid 2px #894cc6;
    width: 450px;
    height: 150px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 15px;
}

#kpiFacil {
    background-color: #4cc658ba;
    border-radius: 20px;
    border: solid 2px #4cc659;
    width: 450px;
    height: 150px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 15px;
}

#kpiDificil {
    background-color: #d5322cac;
    border-radius: 20px;
    border: solid 2px #d5312c;
    width: 450px;
    height: 150px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 15px;
}

#kpiMedio {
    background-color: #ffd500a6;
    border-radius: 20px;
    border: solid 2px #ffd600;
    width: 450px;
    height: 150px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 15px;
}

#escolherNivel {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#escolherNivel p {
    font-size: 25px;
}

#escolherNivel span {
    font-size: 20px;
    font-family: "Open sans";
    font-weight: bold;
    cursor: pointer;
}

#facil {
    background-color: #4cc659;
    width: 90px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#medio {
    background-color: #ffd600;
    width: 90px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#dificil {
    background-color: #d5312c;
    width: 90px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#tituloNome {
    font-size: 40px !important;
    font-family: "Bazinga italic";
    color: #ffffff;
    text-align: center;
}

#jogoSerie {
    display: flex;
    flex-direction: column;
    background-color: #1a1a2ed7;
    width: 500px;
    height: 600px;
    border-radius: 20px;
    align-items: center;
}

#infoQuestaoSerie {
    width: 400px;
    background-color: #ffd5008b;
    border-radius: 20px;
    text-align: center;
    color: #ffd600;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-family: "Open sans";
}

#perguntaDaQuestaoAtualSerie {
    font-size: 20px;
    width: 480px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

#opcoesSerie {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 200px;
    font-family: "Open sans";
}

#opcoesSerie span {
    background-color: #1a1a2e6d;
    border: solid 2px #1a1a2e;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#botoesSerie {
    display: flex;
    flex-direction: column;
}

#botoesSerie button {
    padding: 15px;
    padding-left: 133px;
    padding-right: 133px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #ffd600;
    font-family: "Bazinga";
    cursor: pointer;
}

#botoesNovos {
    display: flex;
    flex-direction: column;
}

#botoesNovos button {
    padding: 15px;
    padding-left: 133px;
    padding-right: 133px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #ffd600;
    font-family: "Bazinga";
}

#jogoMatematica {
    display: flex;
    flex-direction: column;
    background-color: #1a1a2ed7;
    width: 500px;
    height: 600px;
    border-radius: 20px;
    align-items: center;
}

#infoQuestaoMatematica {
    width: 400px;
    background-color: #ffd5008b;
    border-radius: 20px;
    text-align: center;
    color: #ffd600;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-family: "Open sans";
}

#perguntaDaQuestaoAtualMatematica {
    font-size: 20px;
    width: 480px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

#opcoesMatematica {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 200px;
    font-family: "Open sans";
}

#opcoesMatematica span {
    background-color: #1a1a2e6d;
    border: solid 2px #1a1a2e;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#botoesMatematica {
    display: flex;
    flex-direction: column;
}

#botoesMatematica button {
    padding: 15px;
    padding-left: 133px;
    padding-right: 133px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #ffd600;
    font-family: "Bazinga";
    cursor: pointer;
}

#kpis #kpiTotal .material-icons {
    margin-left: 5px;
    background-color: #894cc6;
    margin-top: 8px;
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    margin-right: 5px;
}

#kpis #kpiFacil .material-icons {
    margin-left: 5px;
    background-color: #4cc659;
    margin-top: 8px;
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    margin-right: 5px;
}

#kpis #kpiMedio .material-icons {
    margin-left: 5px;
    background-color: #ffd600;
    margin-top: 8px;
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    margin-right: 5px;
}

#kpis #kpiDificil .material-icons {
    margin-left: 5px;
    background-color: #d5312c;
    margin-top: 8px;
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    margin-right: 5px;
}

#kpis p {
    font-family: "Open sans";
    font-weight: bolder;
    margin-top: 2px;
    font-size: 15px;
    margin-left: 10px;
    color: white;
}

#kpis span {
    margin-top: 2px;
    font-size: 20px;
    color: white;
}