@font-face {
    font-family: "Bazinga";
    src: url(../assets/fonte/Bazinga-Regular.otf);
}

@font-face {
    font-family: "Bazinga Italic";
    src: url(../assets/fonte/Bazinga-RegularItalic.otf);
}

@font-face {
    font-family: "Open sans";
    src: url(../assets/fonte/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
    margin: 0;
    font-family: "Bazinga";
    width: 100%;
    height: 729px;
    display: flex;
    flex-direction: row;
    background-color: #ffd600;
    color: #ffffff;
}

.container-amarelo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
    font-size: 20px;

    img {
        width: 200px;
    }
}

.container-azul {
    background-color: #1a1a2e;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .titulo {
        color: #ffffff;
        margin-bottom: -0.2%;
        font-family: "Bazinga";
        font-size: 36px;
    }

    p {
        color: #ffd600;
        font-family: "Open sans";
        font-weight: 500;
    }

    span {
        color: #9595a0;
        font-family: "Open sans";
    }

    input {
        padding: 9px;
        background-color: #9595a089;
        border-radius: 8px;
        border: none;
        width: 200px;
        margin-bottom: 10px;
    }

    .entrar {
        padding: 12px;
        width: 220px;
        border-radius: 15px;
        background-color: #ffd600;
        color: #1a1a2e;
        font-family: "Bazinga";
        margin-bottom: 10px;
        font-size: 18px;
        cursor: pointer;
    }

    .cadastre-se {
        padding: 10px;
        width: 220px;
        border-radius: 15px;
        border: 2px solid #ffd600;
        background-color: #1a1a2e;
        font-size: 18px;
        cursor: pointer;
    }

    .cadastre-se a {
        text-decoration: none;
        color: #ffd600;
        font-size: 15px;
    }
}

#mensagem_erro {
    margin-top: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    background-color: #d5312c;
    border-radius: 10px;
    text-align: center;
    font-family: "Open sans";
    font-size: 15px;
}

#div_erros_login {
    margin-top: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    background-color: #d5312c;
    border-radius: 10px;
    text-align: center;
    font-family: "Open sans";
    font-size: 15px;
}

#div_aguardar {
    margin-top: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    background-color: #d5312c;
    border-radius: 10px;
    text-align: center;
    font-family: "Open sans";
    font-size: 15px;
}

#cardErro {
    margin-top: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    background-color: #d5312c;
    border-radius: 10px;
    text-align: center;
    font-family: "Open sans";
    font-size: 15px;
}