@font-face {
    font-family: "Bazinga";
    src: url(../assets/fonte/Bazinga-Regular.otf);
}

@font-face {
    font-family: "Bazinga Italic";
    src: url(../assets/fonte/Bazinga-RegularItalic.otf);
}

@font-face {
    font-family: "Open sans";
    src: url(../assets/fonte/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
    background-color: #1a1a2e;
    color: #ffffff;
    font-family: "Bazinga";
    text-align: justify;
    margin: 0;
}

.header {
    width: 100%;
    background-color: #1a1a2e87;  
    position: fixed;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    color: #ffd600;
    margin-left: 3%;
    font-size: 30px;
}

.navbar {
    display: flex;
}

.navbar a {
    color: #ffffff;
    font-family: 'Open Sans';
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}

.navbar li {
    color: #ffffff;
    font-family: 'Open Sans';
    list-style: none;
    margin-left: 20px;
    font-size: 18px;
}

.navbar li a button {
    background-color: #ffd600;
    padding-left: 9px;
    padding-right: 9px;
    font-family: "Bazinga";
    color: #1a1a2e;
    font-size: 18px;
    border: none;
    border-radius: 15px;
}

.inicio-banner {
    background-image: url(../assets/img/banner.png);
    height: 730px;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.inicio-banner .banner-texto {
    width: 50%;
    text-align: center;
}

.banner-texto p {
    color: #ffffff;
    font-size: 120px;
}

.banner-texto span {
    font-weight: bold;
    color: #ffd600;
}

/***********************************************SOBRE************************************************************/
.cor-clara {
    background-color: #fffbf0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sobre {
    padding-top: 0.5%;
}

#sobre h1 {
    display: flex;
    justify-content: center;
    color: #ed7628;
}

.comeco-texto {
    display: flex;
}

.div-icons {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    margin-right: 10px;
}

.laranja {
    background-color: #ed7628;
}

.div-icons .material-symbols-outlined {
  color: #ffffff;
  font-size: 25px; 
  font-variation-settings: 'opsz' 40;
  font-family: 'Material Symbols Outlined';
  display: inline-block;
  white-space: nowrap;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-texto {
    width: 500px;
}

.sobre-texto span {
    margin-bottom: 10px;
    color: #9595a0;
    font-family: "Open sans";
    margin-right: 20px;
}

.sobre-texto p {
    color: black;
    font-size: 30px;
    font-weight: 600;
    font-family: "Bazinga";
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    border: 2px solid #00000038;
    border-radius: 5px;
    width: 220px;
    background-color: white;
}

.div-icons-card {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    margin-right: 10px;
}

.amarelo {
    background-color: #ffd600;
}

.verde {
    background-color: #4cc659;
}

.vermelho {
    background-color: #d5312c;
}

.div-icons-card .material-symbols-outlined {
  color: #ffffff;
  font-size: 25px; 
  font-variation-settings: 'opsz' 40;
  font-family: 'Material Symbols Outlined';
  display: inline-block;
  white-space: nowrap;
}

.card p {
    margin-bottom: -1px;
    margin-top: -1px;
    color: black;
    font-size: 30px;
    font-weight: 600;
    font-family: "Bazinga";
}

.card span {
    font-family: "Open sans";
    color: #9595a0;
    font-weight: 500;
    margin-bottom: 2px;
}

.sobre-img img {
    width: 160px;
    margin-left: 30px;
}