@font-face {
    font-family: "Bazinga";
    src: url(../assets/fonte/Bazinga-Regular.otf);
}

@font-face {
    font-family: "Bazinga Italic";
    src: url(../assets/fonte/Bazinga-RegularItalic.otf);
}

@font-face {
    font-family: "Open sans";
    src: url(../assets/fonte/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
    background-color: #1a1a2e;
    color: #ffffff;
    font-family: "Bazinga";
    text-align: justify;
    margin: 0;
}

.header {
    width: 100%;
    background-color: #1a1a2e87;  
    position: fixed;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    color: #ffd600;
    margin-left: 3%;
    font-size: 30px;
}

.navbar {
    display: flex;
}

.navbar a {
    color: #ffffff;
    font-family: 'Open Sans';
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}

.navbar li {
    color: #ffffff;
    font-family: 'Open Sans';
    list-style: none;
    margin-left: 20px;
    font-size: 18px;
}

.navbar li a button {
    background-color: #ffd600;
    padding-left: 9px;
    padding-right: 9px;
    font-family: "Bazinga";
    color: #1a1a2e;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.inicio-banner {
    background-image: url(../assets/img/banner.png);
    height: 730px;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.inicio-banner .banner-texto {
    width: 50%;
    text-align: center;
}

.banner-texto p {
    color: #ffffff;
    font-size: 120px;
}

.banner-texto span {
    font-weight: bold;
    color: #ffd600;
}

/***********************************************SOBRE************************************************************/
.cor-clara {
    background-color: #fffbf0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cor-escura {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sobre {
    padding-top: 0.5%;
}

#sobre h1 {
    display: flex;
    justify-content: center;
    color: #ed7628;
}

#cientistas {
    padding-top: 0.5%;
}

#cientistas h1 {
    display: flex;
    justify-content: center;
    color: #ffd600;
}

.comeco-texto {
    display: flex;
}

.comeco-textoCentro {
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.div-icons {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    margin-right: 10px;
}

.laranja {
    background-color: #ed7628;
}

.div-icons .material-symbols-outlined {
  color: #ffffff;
  font-size: 25px; 
  font-variation-settings: 'opsz' 40;
  font-family: 'Material Symbols Outlined';
  display: inline-block;
  white-space: nowrap;
  margin-left: 19px;
  margin-top: 8px;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-texto {
    width: 500px;
}

.sobre-texto span {
    margin-bottom: 10px;
    color: #9595a0;
    font-family: "Open sans";
    margin-right: 20px;
}

.sobre-texto p {
    color: black;
    font-size: 30px;
    font-weight: 600;
    font-family: "Bazinga";
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    border: 2px solid #00000038;
    border-radius: 5px;
    width: 220px;
    background-color: white;
}

.personagens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    margin-bottom: 10px;
}

.personagens h4 {
    color: #1a1a2e;
}

.personagens span {
    color: #1a1a2e;
    font-family: "Open sans";
    font-size: 12px;
    margin-top: -16px;
}

#conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: white;
    position: absolute;
    width: 300px;
    height: 100px;
    margin-top: 246px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom: solid 3.8px #ffd600;
    border-right: solid 3.8px #ffd600;
    border-left: solid 3.8px #ffd600;
}

.personagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    border: 2px solid #00000038;
    border-radius: 12px;
    width: 300px;
    height: 350px;
    background-color: #ffd600;
    margin-bottom: 10px;
}

.personagem img {
    width: 300px;
    border: solid 3.8px #ffd600;
    border-radius: 12px;
}

.div-icons-card {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    margin-right: 10px;
}

.amarelo {
    background-color: #ffd600;
}

.verde {
    background-color: #4cc659;
}

.vermelho {
    background-color: #d5312c;
}

.div-icons-card .material-symbols-outlined {
  color: #ffffff;
  font-size: 25px; 
  font-variation-settings: 'opsz' 40;
  font-family: 'Material Symbols Outlined';
  display: inline-block;
  white-space: nowrap;
}

.card p {
    margin-bottom: -1px;
    margin-top: -1px;
    color: black;
    font-size: 30px;
    font-weight: 600;
    font-family: "Bazinga";
}

.card span {
    font-family: "Open sans";
    color: #9595a0;
    font-weight: 500;
    margin-bottom: 2px;
}

.sobre-img img {
    width: 160px;
    margin-left: 30px;
}

#curiosidades {
    padding-top: 0.5%;
    margin-right: 100px;
}

#curiosidades h1 {
    display: flex;
    justify-content: center;
    color: #4cc659;
}

.personagens h4 {
    color: #000000;
}

.personagens span {
    color: #000000;
    font-family: "Open sans";
    font-size: 12px;
    margin-top: -16px;
}

.curiosidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    border: 2px solid #00000038;
    border-radius: 12px;
    width: 700px;
    height: 250px;
    background-color: #1a1a2e;
    margin-bottom: 10px;
    margin-right: 300px;
    background-image: url('../assets/img/young.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: inherit;
}

.curiosidade1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    border: 2px solid #00000038;
    border-radius: 12px;
    border: solid 2px #1a1a2e;
    width: 700px;
    height: 250px;
    background-color: #1a1a2e;
    margin-bottom: 10px;
    margin-right: 300px;
    background-image: url('../assets/img/matematica.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: inherit;
}

.curiosidade2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    border: 2px solid #00000038;
    border-radius: 12px;
    width: 300px;
    height: 380px;
    background-color: #1a1a2e;
    margin-bottom: 10px;
    position: absolute;
    margin-left: 580px;
    background-image: url('../assets/img/planta.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: inherit;
}

#texto {
    flex-direction: column;
    background-color: #1a1a2e82;
    position: absolute;
    width: 500px;
    height: 80px;
    margin-top: 172px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#texto h4 {
    color: #ffffff;
    display: inline-block;
    width: 450px;  
    margin-left: 10px;
    margin-top: -1px;
}

#texto span {
    color: #ffffff;
    display: inline-block;
    width: 450px;  
    margin-left: 10px;
}

#texto1 {
    flex-direction: column;
    background-color: #1a1a2e82;
    position: absolute;
    width: 300px;
    height: 80px;
    margin-top: 290px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#texto1 h4 {
    color: #ffffff;
    display: inline-block;
    width: 280px;  
    margin-left: 10px;
    margin-top: -1px;
}

#texto1 span {
    color: #ffffff;
    display: inline-block;
    width: 280px;  
    margin-left: 10px;
}

.curiosidades1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    margin-bottom: 10px;
}

.curiosidades1 h4 {
    color: #1a1a2e;
}

.curiosidades1 span {
    color: #1a1a2e;
    font-family: "Open sans";
    font-size: 12px;
    margin-top: -16px;
}

.comeco-texto-Centro {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    margin-left: 85px;
}

#quiz {
    padding-top: 0.5%;
    margin-right: 100px;
    padding-bottom: 1.8%;
}

#quiz h1 {
    display: flex;
    justify-content: center;
    color: #d5312c;
}

#quiz h3 {
    font-family: "Open sans";
}

#quiz button {
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    background-color: #d5312c;
    font-family: "Bazinga";
    font-size: 20px;
    margin-left: 290px;
}

#quiz button a {
    text-decoration: none;
    color: #ffffff;
}